h1 {
    color: rgb(3, 112, 185);
    font-size: 50px;
}

h2 {
    color: rgb(30, 132, 200);
    font-size: 40px;
}

p {
    color: rgb(64, 156, 218);
    font-size: 20px;
}

ul {
    color: rgb(64, 156, 218);
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(64, 156, 218);
    font-size: 20px;
}

a:hover {
    color: rgb(1, 40, 66);
}