h1 {
    color: rgb(0, 110, 255);
    font-size: 50px;
}

h2 {
    color: rgb(0, 153, 255);
    font-size: 40px;
}

h3 {
    color: rgb(0, 166, 255);
    font-size: 30px;
}

p {
    color: rgb(0, 179, 255);
    font-size: 20px;
}

ul {
    color: rgb(0, 179, 255);
    font-size: 20px;
}

ol {
    color: rgb(0, 179, 255);
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 179, 255);
    font-size: 20px;
}

a:hover {
    color: rgb(4, 63, 87);
}